@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap");
.myBar {
  color: black;
  background-color: #b9dea9;
  font-family: "Noto Sans TC", sans-serif !important;
}
.mItem {
  height: 5vh;
  margin-bottom: 1vh;
  clear: both;
  float: left;
  background-color: #cee7c2;
  border-radius: 3vh;
  display: grid;
  place-items: center;
}
.mItem li {
  padding: 10px 10px 13px 10px;

  width: auto;
  overflow: hidden;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none !important;
  color: black;
}
.menuList {
  margin-top: 5px;
  margin-left: 10px;
  background-color: black;
  height: 0;
}
.title {
  font-family: "Noto Sans TC", sans-serif !important;
  font-weight: 600;
}
.App {
  background: url("assets/bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}
.Container {
  height: 60vh;
  width: 60vw;
  border-radius: 3vh;
  display: grid;
  place-items: center;
}
.content {
  margin-top: 15vh;
  display: grid;
  place-items: center;
}
.title-sec {
  margin-top: 1.7vh;
  margin-left: 2.8vw;
}
.innerAcceuil {
  font-family: "Noto Sans TC", sans-serif !important;
  padding: 2vh;
  width: 60vw;
  height: 135vh;
  border-radius: 3vh;
}
.innerAcceuil > p {
  margin: 0;
  font-weight: 500;
}

.acceuil-content {
  margin-top: 30vh;
  display: grid;
  place-items: center;
}
.content-title > p {
  font-weight: 900;
  margin: 0;
}
.install-content {
  margin-top: 30vh;
  display: grid;
  place-items: center;
}
.download-button {
  display: flex;
  flex-direction: row;
}
